NEXT_PUBLIC_GENLAYER_CONTRACT_ADDRESS=0xcde8C50A9Ed6Ebf2027219B141E74227379383d7
NEXT_PUBLIC_GENBIRDS_CONTRACT_ADDRESS=0xcde8C50A9Ed6Ebf2027219B141E74227379383d7

# StudioNet
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studionet.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999

# Explorer (no leading slash on suffix)
NEXT_PUBLIC_GENLAYER_EXPLORER_BASE=https://explorer-studio.genlayer.com
